
/*
.page
{
    
}

.chf
{
    
    width: 40%;
    float: left;
}
.chf img
{
    width: 100%;

}
.desc
{
    width: 60%;
    
    float: left;
    text-align: center;
    padding-top: 100px;
}
.clear-fix
{
    clear:both
}
.desc span
{
    
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.desc button
{
    background-color: transparent;
    border:solid 2px;
    padding: 3px 6px;
}
.desc p
{
    padding: 20px 10px;

}
.meals
{
   
    width: 80%;
    margin: auto;
    

}
.meal img
{
    width: 50%;
    border-radius: 50%;
    margin-top: 20px;

}
.meal
{
    width: 25%;
    
    text-align: center;
    float: left;

}
.meal p
{
    padding: 20px 30px;
}
.brdr
{
    width: 70px;
    height: 2px;
    background-color: gray;
    margin:auto;
}
.bag
{
    height: 400px;
    
    background-image: url(photo_2022-10-26_00-27-04.jpg);
    background-attachment: fixed;
    
}*/
/*
*{
    box-sizing: border-box;

}
.p1 img
{
    width: 100%;

}

.p1{

 width: 20%;
 float: left;
 text-align: center;
 
 padding: 20px;

 
}
.p1 .container
{
  background-color: aqua;
}


.clear
{
    clear:both
}
@media screen and (min-width:0px) and (max-width:600px)
{
    .p1 
    {
        width: 100%;

    }
    
}

@media screen and (min-width:601px) and (max-width:768px)
{
    .p1 
    {
        width: 50%;

    }
    
}

@media screen and (min-width:768px) and (max-width:992px)
{
    .p1 
    {
        width: 33.33%;

    }
    
}
*/
/*
{
    

}
.member
{

    width: 25%;
    position: relative;   
    border: solid 2px white;
    overflow: hidden;
    
   
}
.member img
{
    width: 100%;
    transition: transform 1s;

}
.caption
{
    background-color: rgba(4, 4, 43, 0.507);
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 120%;
    width: 120%;
    color: white;
    opacity: 0;
    transition: opacity 1s , transform 1s;
}

body
{
    background-color: rgba(0, 0, 0, 0.7);

}

.member:hover .caption
{
transform: rotate(360deg);
opacity: 1;
}
.member h3
{
    position: relative;
    left: 100%;
    background-color:rgba(4, 4, 43, 0.507) ;
    margin: 0;
    transition: left 1s 2s;



}
.member:hover h3 
{
    left: 0%;
}
.member:hover p
{
    left:0%;
}
.member p{
    
    position: relative;
    left: 100%;
    background-color:rgba(4, 4, 43, 0.507) ;
    margin: 0;
    transition: left 1s 2s;


}
*/

.container nav
{
    width: 100%;
    height: 50px;
    background-color:white;
    position: fixed;
    top: 0%;
    text-align:right;
    z-index: 99999;

}
.bar a
{
    line-height: 50px;
    padding: 10px;
    color: black;
    margin-left: 30px;
    font-size: 20px;
    text-decoration-line: none;


    
    
    
}



.begin
{
    
    
    text-align: center;
    position: relative;
    top: 200px;
    left: 30px;
    color: white;
    font-weight: 200;
    font-size: larger;
}
.container
{
    background-image: url(cover.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 100% 100%;
    
}
.fixed-icon
{
    width: 50px;
    height: 30px;
    background-color: white;
    padding: 10px;
    position: absolute;
    right: 0px;
    z-index: 9999;
    position: fixed;
}

.begin .b1
{
    padding: 15px;
    margin: 5px;
    background-color: burlywood;
    border: none;
   
}
.begin .b2
{
    padding: 15px;
    border: 2px white;
    
}

.hawy
{
    
}
.pic
{
    
    width: 40%;
    float: left;
    padding: 40px;
}
.pic img
{
    width: 100%;

}
.des
{
   
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    top: 50px;
    left: 30px;
}
.des p
{
    font-size: 150%;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.des h3
{
    position: relative;
    right: 230px;
    font-size: 150%;
    padding: 15px;
}

.icons li
{
    list-style: none;
    padding: 10px;
    text-align: left;
   
}

.icons span
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    padding-right :5px;
}
.icons i
{
    color: darkgoldenrod;
}








.fix
{
    clear: both;
}

.part3
{
   padding-top: 120px;
   background-color: rgba(0, 255, 255 , 0.1); 
}
.pi2
{
   
    width: 40%;
    padding: 30px;
    float: right;
}
.pi2 img
{
    width: 100%;
}
.des2
{
    
    width: 50%;
    padding: 10px;
    float: right;
    position: relative;
    top: 90px;
    right: 30px;
    font-size: 110%;
}


.bakes
{
   
    text-align: center;
    padding: 70px;
}
.bake
{
   
    width: 30.333%;
    text-align: center;
    float: left;
    padding: 10px;
}
.bake img
{
    width: 100%;
}
.bake p
{
    font-size: large;

}
.bakes span
{
    font-size: 200%;
}
.contact
{
   
    padding: 90px;
    background-color: rgba(128, 128, 128 , 0.1);
    height: 50vh;
}
.map iframe
{
    position:relative;
    right: 0px;
    padding-left: 30px;
}

.about
{
    width: 55%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}

.about span
{
    font-size: 200%;
}
.footer
{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    

    
}
.col1
{
    
    color: antiquewhite;
}
.footer div
{
  padding: 60px;  
  
}
.col1 form button
{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: transparent;
    color: aliceblue;
    border-color: aliceblue;
}
.col1 i
{
    padding: 5px;
}

.col1 a
{
    color: white;
    text-decoration-line: none;

}